 <div class="overlay">
  <header id="hello">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="banner">
                            <h3>-introducing-</h3>
                            <h1>RAPIDO PIZZA</h1>

                            <div class="inner_banner">
                                <div class="banner_content">

                                    <h2>Livraison gratuite</h2>
                                    <h3>à partir de 50 dh</h3>							
                                </div>
                                <div class="stamp">
                                    <%= image_tag "stampq.png" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Container end -->
            <p class="caption" style="color: #fff; font-size: 17px;"></p>
        </header><!-- Header end -->
</div>




<div class="bestdisheswrapper">
    <div id="bestdishes" class="container">
       
         <h2 class="wow fadeInUp" data-wow-delay="0.3s">MENU</h2>
         <div class="row">
             <div class="col-md-6">
                 <% @categories.each do |category| %>
                 <h3 class="category-name"><%= category.name %></h3>
                 <% category.foods.each do |food| %>
                <div class="row food">
                    <div class="col-md-3">
                        <%= image_tag(food.image.url(:large), class: "food-image") %>       
                    </div>
                    <div class="col-md-6">
                        <h3 class="food-title"><%= food.title %></h3>
                        <p class="food-description"><%= sanitize(food.description) %></p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="food-price"><%= food.price %>0 DH</h4>
                        <%= button_to 'Add to Cart', line_items_path(food_id: food) %>
                    </div>
                </div>
            <% end %>
            <% end %>
             </div>
             <div class="col-md-2">
                <div id="side">
                  <div id="cart">
                    <% if @cart %>
                      <%= render @cart %>
                    <% end %>
                  </div>
                </div>
             </div>
         </div>
            
    </div> 
</div> 


<!-- maps 
 <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 35.77589493003, lng: -5.8140771799241 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSF6bYRwBhTUTzFzo0UNhotM6m3hpS4Ak&callback=initMap">
    </script>
-->
        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>