<% unless cart.line_items.empty? %>
<p id="notice"><%= notice %></p>
<h3>Votre Panier</h3>
<table>
	<%= render(cart.line_items) %>
	
	<tr class="total_line" id="total-line">
		<td colspan="2" id="total">Total</td>
		<td class="total_cell" id="total-price"><%= number_to_currency(cart.total_price, unit: '') %> DH</td>
	</tr>
</table>

<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>