<%= form_for([@category, @food]) do |f| %>
	<% if food.errors.any? %>
		<div id="error_explanation" style="color: #444">
			<h2><%= pluralize(food.errors.count, "error") %>
				prohibited this food from being saved:</h2>
			<ul>
				<% food.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
	    <%= f.label :category %>
	    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Categorie" } %>
  	</div>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, rows: 10, cols: 60, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "price ( DIRHAM )" %>
		<%= f.text_field :price, class: "form-control" %>
	</div>
	<div class="field">
      <%= f.file_field :image %>
    </div>
	<div class="actions">
		<%= f.submit class: "red-btn" %>
	</div>
<% end %>